<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div id="app" class="d-flex justify-content-center align-items-center vh-100 ">
        <div class="container-fluid d-flex flex-column w-50 ">
            <h1>Chat </h1>
            <div v-if="state == 0">
                <h3> Bem vindo! Por favor, diga seu nome!</h3>
                <form @submit.prevent="setUsername">
                    <input type="text" placeholder="Nome" v-model="username">
                     <!-- <input type="submit" value="join"> -->
                </form>
                <button class="mt-2" @click="continueWithoutUsername">Entre</button>
            </div>
            <div v-if="state == 1">
                <ul id="chatbox">
                    <li v-for="message in messages">
                        <b>{{ message.user }}</b> : {{ message.message}}
                    </li>
                </ul>
                <form @submit.prevent="sendMessage">
                    <input type="text" placeholder="Mensagem" v-model="message"/>
                    <input  type="submit" value="Send"/>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        // var socket = null
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    message: '',
                    messages: [],
                    username:'',
                    state: 0,
                    socket: null
                }
            },
            methods:{
                sendMessage: function(){
                    this.socket.emit('message', this.message)
                    this.message = ''
                },
                setUsername: function(){
                    this.socket.emit('join', this.username)
                    this.username = '',
                    this.state = 1
                },
                continueWithoutUsername: function(){
                    this.socket.emit('join', null),
                    this.state = 1
                }
            },
            created: function(){
                this.socket = io('http://localhost:3000')
            },
            mounted: function(){
                this.socket.on('message', (message) => {
                    console.log(message)
                    this.messages.push(message)
                    this.$nextTick(function(){
                        var messageBox = document.getElementById('chatbox')
                        messageBox.scrollTop = messageBox.scrollHeight
                    })
                })
            }
        })
    </script>
</body>
</html>